/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}


/*
    GLOBAL
 */

html, body {
    background: #E7E4DB;
}

a {
    color: black;
}

a:hover {
    color: #441C11;
}

hr {
    border-top: 1px solid #70463A;
}

.navbar {
    background: #70463A;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #441C11;
}

.custom-th {
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    background: #70463A;
    border: 1px dashed;
}

.custom-th td {
    padding: 5px;
}

/*
    LOGIN
 */

.col-md-8 {
    width: 100%;
}


/*
    DASHBOARD
 */

#MainContent_GridViewRegisters {
    background: none;
    margin: 30px 25%;
    border-collapse: collapse;
    width: 50%;
}

#MainContent_RegisterNameLabel,
#MainContent_GridViewRegisters th {
    color: #EBAD0E;
    text-align: center;
    font-size: 20px;
    border:none;
    border-bottom: 2px solid #70463A;
    text-transform: uppercase;
}

/*
    REGISTER VIEW
 */

#MainContent_RegisterNameLabel {
    display: block;
    font: bold 20px sans-serif;
    margin: 10px 25%;
    border: none;
}

#MainContent_dataTable {
    background: white;
}

#MainContent_GridViewRegisters {
    background: white;
}

#MainContent_dataTable tr {
    border-width: 1px;
}

#MainContent_GridViewRegisters td {
    border-size: 5px;
    padding: 10px 0;
    padding-left: 10px;
    border: 1px solid;
}

#MainContent_dataTable td {
    border-color: black;
    border-width: 1px;
}

/*
    CardEdit
 */

#MainContent_cardMainDiv {
    background: white;
}

#MainContent_cardMainDiv legend {
    text-align: center;
    width: 100%;
    border-bottom: 1px dashed;
}

fieldset table {
    margin-bottom: 20px;
}