.style_log{
    background-image:url("/css/images/kfu_gerb.png");
    
    background-repeat:no-repeat;
   
    background-size:2%;
    background-position:70% 17%;
    }
.first_div_on_login {
  
   position:relative;
   left:100px;
   background-image:url("/css/images/kfu_gerb.png");
    
    background-repeat:no-repeat;
    
    background-size:20em;
    background-position:80% 45%;
}
.second_div_on_login {
        background-color:#ffd800;
}
.third_div_on_login {
        background-color:#00ffe0;
}