body {
    background-image:url("/css/images/bg_blue_3.png");
    background-image:url("/css/images/bg_blue_3.jpg");
   /*A background:linear-gradient(to right top, #fefefe, #f0f797 ) ;*/
    background-repeat:no-repeat;
    
    background-size:cover;
    background-position:top left;
 
    background-attachment:fixed;
    width:  100%;
    height: 100%;
    position:relative;
}
html {
 
}
.form_mpg {
width:auto;
    }

#load_style {
    color:#05ff01;
    border-style:none;
    position:absolute;
    top:40px;
    left:-80px;
    border-style:solid;
    border-bo
}


.bottom_mp {
    position:  relative;
    bottom:0;
    left:2%;
    width:100%;
    }
.bg_im {
    position:absolute;
    background-size: contain;
    position:absolute;
    width:100%;
    height:100%;
    top: 15%;
    margin-left:55%;
    opacity: 0.8;
    }
.bg_im.bg_im_1 {
       background-image:url("images/kfu_gerb.png");
   width:100%;
    height:100%;

}

.bg_im.bg_im_2 {
       background-image:url("images/bg_blue_3.png");
  
        width:100%;
    height:100%;
}
    
h2 {
text-align:center;

    font-family: "Times New Roman";
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    
    text-transform: none;
    border-style:solid;
    border-width:3px;
    border-color:#000000;
    color: #000;
    text-shadow:-10px -5px 7px #3d3d3d;

}
.error_message_style_1 {
background-color:#ffffff;
color:#ff0000;
}
.button_cl {
   /* background-color: #ffdb00;*/
    font-weight: bold;
    border-width: 2px;
    border-color:#000000;
    border-radius:10px;
    background-image:url("/css/images/kfu_button_gradient_2.png");
    background-attachment: scroll;
    background-size: contain;
    background-repeat:repeat-x;
}
    .button_cl:hover 
{
border-width:2px;
background-image: url('images/kfu_button_gradient_hover_green_1.png');

}

input[type="text"] {
    
      animation-name:animation_1;
      animation-duration:1.5s;
      animation-iteration-count:infinite;
      animation-timing-function:linear;
}

/*.button_login {
    font-family: "Arial Unicode MS";
    font-size: large;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color:#000000;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-image: url('images/kfu_button_gray_1.png');
    border-width: 2px;
    border-color: #6f6c00;
    border-radius: 4px;
    width: 100px;
    
}
   

.button_login:hover {
border-width:2px;
background-image: url('images/kfu_button_gradient_hover_green_1.png');
color:#ffffff;
       } */

.Grid_view_style_border_1 {
    border-width: 3px;
    border-color: #000000;
    font-family: "Times New Roman";
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    box-shadow:  -15px 15px 5px 0px #0000001;
    
}
 
.Grid_view_style_border_main {
    border-width: 3px;
    border-color: #000000;
    font-family: "Times New Roman";
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    box-shadow: -15px 15px 5px 0px rgba(0,0,0,0.6);


}

.Grid_view_style_text_1 {
    font-family: "Times New Roman";
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    color: #000000;

}
.Grid_view_controls_text_1 {
    font-family: "Times New Roman";
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color:#000000;
    background-image:url("/css/images/kfu_button_gradient_2.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: contain;
    border-width:2px;
    border-color:#000000;
    border-style:outset;
}


    .Grid_view_controls_text_1:disabled {
        font-size: medium;
        font-weight: normal;
        border-color:#a0a0a0;
        color:#7e7e7e;
        background-image:url("/css/images/kfu_button_gradient_disabled.png");
        }
    .Grid_view_controls_text_1:disabled:hover{
        color: #7f7f7f;
        border-color:#e2e2e2;
        border-bottom-color: #585858 ;
        border-right-color: #585858 ;
        background-image:url("/css/images/kfu_button_gradient_disabled.png");
          }
    .Grid_view_controls_text_1:hover {
        color: #000000;
        background-image: url("/css/images/kfu_button_gradient_hover_green_1.png");

    }

.text_style_1 {
   
    font-family: "Times New Roman";
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
    background-color:#a1e094;
/*
  background-image:url("/css/images/bg_5_texts.png");
  background-size:contain; 
  background-repeat:repeat-x;
    */
}



input[type="submit"] {
    font-family: "Arial Unicode MS";
    font-size: large;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: contain;
    background-image: url('images/kfu_button_gray_1.png');
    border-width: 2px;
    border-color: #585858;
    border-radius: 4px;

   }
    input[type="submit"]:hover {
    border-width:2px;
background-image: url('images/kfu_button_gradient_hover_green_2.png');
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-size: contain;

    }

label {
font-family:'Times New Roman';
font-size:initial;
font-style:normal;
font:bold;
}



.left_button_login_margin {



}

.left_textbox_login_margin {
    
border-color:#ff0000;

}


hr {
border-color:#000000;
}


input[type="checkbox"]{
  
}
.log_page {
    position:relative;
    top:10%;


}
.div_login_button {
position:relative;
left:7%;
}


.bottom_masterpage_hr {
   position:absolute;
   width:auto;
   bottom:0;
   left:20%;
  }

.Image1 {

        position:fixed;

        height:200px;
        left:50%;
        top:20%;
        
        

}
#im1 {
    position:absolute;
    top:100px; 
    left:0px;

    
    background-image:url('/css/images/gear_big.png');
    background-repeat:no-repeat;
  
    width:102px;
    height:102px;
    animation-name:anim_circle_progress_bar;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
#im2 {
    position:absolute;
    top:52px;
    left:75px;
    background-image:url('/css/images/gear_small.png');
    background-repeat:no-repeat;
  
    width:87px;
    height:90px;
    animation-name:anim_circle_progress_bar_2;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-direction:reverse;
}

/*ANIMATION*/
@keyframes anim_circle_progress_bar {

    0% {
        transform:rotate(20deg);
    }
    100% {
        transform:rotate(65.5deg);
    }
}
@keyframes anim_circle_progress_bar_2 {

    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(60deg);
    }
}
/*ANIMATION*/